@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

#captha-box {
  width: 500px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  /* justify-items: center; */
  flex-direction: column;

  align-items: center;
  text-align: center;
  padding: 1%;
}

h1#Captcha {
  font-family: "Roboto", sans-serif;
  color: green;
}

#captha-detail {
  width: 90%;
  height: 70px;
  /* background-color: rgb(14, 177, 2); */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#captha-detail-left {
  width: 80%;
  height: 100%;
  /* background-color: yellow; */
  position: relative;
  border-radius: 10px;
  pointer-events: none;


}

#captha-detail-left img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* object-fit: cover; */
  position: relative;
  border: none;
  border-radius: 5px;

}

h3#capter {
  /* width: 100%; */
  position: absolute;
  font-size: 48px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* pointer-events: none; */
  letter-spacing: 25px;
  text-align: center;
}

button#refresh{
  background-color: #ffffff;
  border: none;
}
 button#refresh #captha-detail-right{
  width: 80px;
  height: 100%;
  background-color: #25a0ed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#captha-detail-right i {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#captha-input-box {
  width: 90%;
  height: 60px;
  /* background-color: rgb(14, 177, 2); */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid red;
}

#captha-input-box-left {
  width: 75%;
  height: 100%;
  background-color: transparent;
  border-radius: 9px;

}
#captha-input-box-left  input{
  width: 100%;
  height: 100%;
  border-radius: 10px;

  background-color: transparent;
  font-size: 24px;
  padding-left: 20px;
  border: none;
}
input:focus{
  outline: none;
}
#captha-input-box-right{
    width: 25%;
  height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
#captha-input-box-right button#Check{
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 19px;
  background-color: #25a0ed;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.84);
  border: none;
}